.grid {
  padding: 0;
  margin: 0 0 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 100px;
  margin-bottom: -40px;
}

.grid .grid-item {
  width: calc(100% / 3);
  background-size: cover;
  background-position: 50% 50%;
  width: 325px;
  height: 325px;
}

.grid .grid-item-body {
  padding-top: 30%;
  position: relative;
}
.grid.tinyslide {
   --tinyslide-size:4;
   --tinyslide-speed:1s;
   --tinyslide-autoplay:2s;
   --tinyslide-btn-width:50px;
   --tinyslide-gutter:5px;
 }

 @media (max-width:1200px) {
   .grid.tinyslide {
     --tinyslide-size:3;
   }
 }

 @media (max-width:992px) {
   .grid.tinyslide {
     --tinyslide-size:2;
   }
 }

 @media (max-width:768px) {
   .grid.tinyslide {
     --tinyslide-size:2;
   }
 }

 @media (max-width:576px) {
  .grid.tinyslide {
    --tinyslide-size:1;
  }
}
