#driving-lessons {
  background-image: linear-gradient(to bottom, #000000, #6564db);
}

#driving-lessons h1{
  letter-spacing: 5px;
  -webkit-box-shadow: 0 8px 6px -6px #89d2dc;
  -moz-box-shadow: 0 8px 6px -6px #89d2dc;
  box-shadow: 0 8px 6px -6px #89d2dc;
  color: #89d2dc;
}

#driving-lessons .hours {
  color: white;
}

#driving-lessons .prize {
  color: #89d2dc;
}

#driving-lessons hr {
  color: white;
  width: 75%;
  margin: auto;
}

#last-but-not-least-dl {
  background-image: linear-gradient(to bottom, #6564db, #000000);
  color: white;
}

@media only screen and (min-width: 768px) {
  #last-but-not-least-dl {
        display: flex;
        flex-direction: column;
        justify-content: center;
  }
}

@media only screen and (max-width: 768px) {
  .footer-top-logo {
    margin: auto;
  }
  .footer-bottom-two-logos {
        justify-content: center;
  }
}

#last-but-not-least-dl .row {
  color: white;
  background-image: linear-gradient(to bottom black,#6564db );
  box-shadow: 0px 0px 90px 30px black;
}

#last-but-not-least-dl h1 {
  letter-spacing: 5px;
  -webkit-box-shadow: 0 8px 6px -6px #89d2dc;
  -moz-box-shadow: 0 8px 6px -6px #89d2dc;
  box-shadow: 0 8px 6px -6px #89d2dc;
  color: #89d2dc;
}

#last-but-not-least-dl h4 {
  color: white;
}

#last-but-not-least-dl a {
  color: #89d2dc;
  text-decoration: none;
  transition: 0.5s;
}

#last-but-not-least-dl .social a:hover {
  display: inline-block;
  margin-top: -8px;
}

#last-but-not-least-dl i {
  font-size: 25px;
}

#last-but-not-least-dl .social {
  font-size: 35px;
}

#last-but-not-least-dl .footer .footer-menu a:hover {
    display: inline-block;
    color: white;
    transform: scale(1.25);
}
