#driving-courses {
    /* height: 100vh; */
    background-image: linear-gradient(to bottom, black, #6564db );
}

#driving-courses h1 {
    letter-spacing: 5px;
    -webkit-box-shadow: 0 8px 6px -6px #89d2dc;
	-moz-box-shadow: 0 8px 6px -6px #89d2dc;
	box-shadow: 0 8px 6px -6px #89d2dc;
}

