/*  Header */
header {
    background-color: black;
}

header .logo-header {
    width: 150px;
    height: auto;
}

@media only screen and (max-width: 768px) {
    .navbar-brand {
      position: static !important;
    }
    .open-hours {
        padding-bottom: 10px;
    }
  }

@media only screen and (min-width: 768px) {
    header {
      padding-bottom: 5%;
    }
    .home {
      height: 80vh;
    }
}

header .header-phone {
    margin-right: 20px;
}

header .open-hours {
    color: #6564db;
}

header .open-hours i {
    font-size: 20px;
}

header .navbar-nav .nav-custom {
    color: white !important;
}

header .navbar-nav .nav-custom:hover {
    color: #6564db !important;
}

header .navbar-toggler {
    background-color: #6564db;
}

header .dropdown-menu li a {
    color: #6564db;
}

/*  Home  */
.home {
    background-color: black;
}

.home .h1 {
    color: white;
    letter-spacing: 10px;
    -webkit-animation: tracking-in-expand 2.3s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both;
	  animation: tracking-in-expand 2.3s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both;
}

@media only screen and (max-width: 768px) {
  .home .h1 {
    letter-spacing: 3px;
  }
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.home-cta {
    background-image: linear-gradient(to bottom,#6564db, black );
    border: none;
    border-bottom: 1px solid #6564db;
}

.home-cta:hover {
    border-bottom: 1px solid #6564db;
    color: white;
    box-shadow: 0px 0px 90px 30px #6564db;
    
}

/*  Scroll-icon  */
.container-chevron {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .chevron {
    position: absolute;
    width: 40px;
    height: 2px;
    opacity: 0;
    transform: scale(0.3);
    animation: move-chevron 3s ease-out infinite;
  }

  .chevron:first-child {
    animation: move-chevron 3s ease-out 1s infinite;
  }

  .chevron:nth-child(2) {
    animation: move-chevron 3s ease-out 2s infinite;
  }

  .chevron:before, .chevron:after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background: #6564db;
  }

  .chevron:before {
    left: 0;
    transform: skewY(30deg);
  }

  .chevron:after {
    right: 0;
    width: 50%;
    transform: skewY(-30deg);
  }

  @keyframes move-chevron {
    25% {
      opacity: 1;
    }
    33.3% {
      opacity: 1;
      transform: translateY(2.28rem);
    }
    66.6% {
      opacity: 1;
      transform: translateY(3.12rem);
    }
    100% {
      opacity: 0;
      transform: translateY(4.8rem) scale(0.5);
    }
  }
  