#last-but-not-least {
    background-image: linear-gradient(to bottom, #000000, #6564db);
    color: white;
}

@media only screen and (min-width: 992px) {
    #last-but-not-least {
          height: 100vh;
    }
  }
  
  @media only screen and (min-width: 768px) {
    #last-but-not-least {
          height: 100vh;
          display: flex;
          flex-direction: column;
          justify-content: center;
    }
  }

  @media only screen and (max-width: 768px) {
    .footer-top-logo {
      margin: auto;
    }
    .footer-bottom-two-logos {
          justify-content: center;
    }
  }

  #last-but-not-least .row {
    color: white;
    background-image: linear-gradient(to bottom black,#6564db );
    box-shadow: 0px 0px 90px 30px black;
  }
  
  #last-but-not-least h1 {
    letter-spacing: 5px;
    -webkit-box-shadow: 0 8px 6px -6px #89d2dc;
    -moz-box-shadow: 0 8px 6px -6px #89d2dc;
    box-shadow: 0 8px 6px -6px #89d2dc;
    color: #89d2dc;
  }

  #last-but-not-least h4 {
    color: white;
  }

  #last-but-not-least a {
    color: #89d2dc;
    text-decoration: none;
    transition: 0.5s;
  }

  #last-but-not-least a:hover {
    display: inline-block;
    margin-top: -8px;
  }

  #last-but-not-least i {
    font-size: 25px;
  }

  #last-but-not-least .social {
    font-size: 35px;
  }

  #last-but-not-least .footer a:hover {
      display: inline-block;
      color: white;
      transform: scale(1.25);
  }

  /* https://www.weareaccess.co.uk/sites/all/themes/accessboot/images/Part_of_the_Sideshow_Group_Logo.svg */